@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(./fontello.css);
*, *::before, *::after{
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body{
  font-size: 1.4rem;
  color:#181818;
  background: url(./images/bg_flower.png) no-repeat 50% 0 scroll, #fff linear-gradient(to bottom,#ccc 0%, #fff 70%, #fff 100%);
  
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
}
/* 숨김 콘텐츠 */
.a11y-hidden, legend{
  /* display: none;
  보조기기에서 접근하지 않음. 없는 개체가 됨. dom tree에서도 인식안함. 쓰면 안됨. */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: polygon(0 0,0 0,0 0);
}
/* 링크 스타일 */
a{
  text-decoration: none;
  color: inherit;
  /* 상속이라는 뜻. 부모(각 a태그의 부모요소의 컬러값)의 컬러를 쓸꺼라는 뜻.직계부모의 컬러값이 없으면 부모의 부모요소를 탐색. 컬러가 있으면 사용, 아니면 또 상위로 이동 */
}

/* 레이아웃 */
.container{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
}

/* 헤더 */
.header{
  background-color: #FFF;
  border-radius: 0 0 15px 15px;
  /* 레프트탑(left-top)값 중심으로 시계방향으로 흐름. */
  padding: 0 30px 0 30px;
  position: relative;
  /* offset조절가능. relative는 주어진값으로 그대로 읽는다. */
}

/* 로고 */
.logo{
  position: absolute;
  top: 26px;
  left: 60px;
}

/* 멤버링크 */
.member{
  
  list-style: none;
  padding-left: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: -8px;
  font-size: 0;
  text-align: right; 
}
.member li, a{
  display: inline-block;
}
.member li{
  font-size: 1.4rem;
  /* text-transform: uppercase;
  전부 대문자로 만들어줌. */
}
.member [aria-hidden]{
  /* 멤버안에서 아리아히든 속성만 있는걸 선택! 일부러 span선택안함 */
  /* margin: 0.5px; */
}
.member a{
  text-transform: uppercase;
  /* a링크에 직접주면은 상속이 아닌 바로 적용이 됨. */
  padding: 2px 8px 2px 3px;
  /* 클릭하는 영역을 넓히기 위해서 마진이 아닌 패딩 값을 줌. */

}
/* 메인메뉴 */
.menu{
  background:#f77b2e linear-gradient(to bottom, #efaf2f 0%,#f77b2e 35%,#f77b2e 70%,#efaf2f 100%);
  padding-left: p;
  list-style: none;
  margin: 0 0 35px;
  padding-left: 225px;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  height: 50px;
}
/* .menu::after{
  content: "";
  display: block;
  clear: both;
  .menu에 높이 50px을 줘서 ::after을 삭제.
} */
.menu-item{
  float: left;
  position: relative;
  /* 각메뉴의 렐러티브를 주면 하위메뉴는 각 아이템의 크기를 벗어날 수 없다. */
}
.btn-menu{
  background-color: transparent;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 48px;
  border: 0;
  border-left: 2px solid rgba(255,255,255,0.85);
  padding: 0px 20px;
  cursor: pointer;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000;
  
}
.menu-act .btn-menu{
  color: #ff0;
}
.menu-act .btn-menu::after{
  content: "";
  display: block;
  background-color: #000;
  height: 2px;
  /*height는 블록속성이라 박스를 2px로 줘서 얇은 상자를 만듦. 그래서 밑줄처럼 보이는 효과. */
  /* position: relative;
  top: 2px;
  .menu에 높이를 지정해줘서 pos:r와 top:2px 필요없음. */
}
.sub-menu{
  position: absolute;  
  /* display: none;
  각 서브메뉴1~6에 값을줘서 필요없어짐. */
  margin: 0;
  padding-left: 0;
  list-style: none;
  white-space: nowrap;
  /* 강제개행금지 */
}
.sub-menu li, .sub-menu6 a{
  display: inline-block;
}
.sub-menu a{
  padding: 8px 0;
  margin-right: 1em;
}
.sub-menu a::before{
  content: '\f192';
  font-family: 'fontello';
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
}
.sub-menu a:hover::before, .sub-menu a:focus::before{
  content: '\e800';
}
.sub-menu1, .sub-menu2, .sub-menu3{
  left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6{
  right: 0;
}
.sub-menu1{
 display: block; 
}
.sub-menu2{
 display: none; 
}
.sub-menu3{
 display: none; 
}
.sub-menu4{
 display: none; 
}
.sub-menu5{
 display: none; 
}
.sub-menu6{
 display: none; 
}
/* 비주얼 */
@keyframes textAni{
  0%{
    font-size: 12px;
    color: rgba(0,0,0,0);
    transform: translate(0,0);
  }
  100%{
    font-size: 24px;
    color: rgba(0,0,0,1);
    transform: translate(400px, 75px);
  }
}
@keyframes bgAni{
  0%{opacity: 1;}
  100%{opacity: 0;}
}
.visual{
  height: 120px;
  position: relative;
}
.visual::before, .visual::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation: bgAni 2000ms ease-in-out infinite alternate;

}
.visual::before{
  background-image: url(./images/ani_flower_01.png),url(./images/ani_flower_02.png);
  background-position: 0 -10px, 640px 0;
}
.visual::after{
  background-image: url(./images/ani_flower_03.png),url(./images/ani_flower_04.png);
  background-position: 300px 0, 800px 20px;
  animation-delay: 1000ms;
}
.visual-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.4rem;
  /* animation-name: textAni;
  animation-duration: 5s;
  animation-fill-mode: forwards; 
  이 세개를 아래의 animation으로 단축속성으로 만들면 한줄로 완성할 수 있다.*/
  width: 500px;
  animation: textAni 500ms ease-in-out forwards;
}

/* 메인 콘텐츠 */
.main{
  background-color: blue;
  min-height: 450px;
  padding: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.group1{
  background-color: pink;
  width: 250px;
}
.group2{
  background-color: lightgreen;
  width: 380px;
}
.group3{
  background-color: coral;
  width: 190px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* 로그인 */
.login{
  padding: 10px;
  background-color: #f77b2e;
  background-image: radial-gradient(circle at right top, #efaf2f ,#f77b2e);
  /* 원형그라디언트 */
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #ccc;
  padding: 10px;
  /* 배경 핑크색상이 패딩을 주니까 안보이는 이유: h2마진은 투명함.로그인 안쪽으로 마진이 안쪽으로???? 마진이해. */
} 
.login-heading{
  color:#ff0;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 10px;
  /* 고정형은 px단위로 , 반응형은 1em으로. */
}
.login-form{
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 10px 0 10px;
}
.login-form fieldset{
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;
}
.login-form div{
  margin-bottom: 5px;
  width: 150px;
}
.login-form label{
  display: inline-block;
  width: 55px;
}
.login-form input{
  width: 90px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 0.5em;
}
.btn-login{
  width: 50px;
  height: 52px;
  border-radius: 3px;
  border: 0;
  padding: 5px;
  color: #FFF;
  cursor: pointer;
  background-color: #f77b2e;
  position: absolute;
  top: 0;
  right: 0;
}
.member-only{
  background-color: #fff;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; 
}
.member-only li:first-child{
  float: left;
}
.member-only li:last-child{
  float: right;
}
.member-only a{
  padding-top: 5px;
  padding-bottom: 5px;
  /* 겹침. 제자리에서 위아래로. 기존 바탕을 늘리게하지않음. */
}
.member-only a::before{
  content: "\e803";
  font-family: 'fontello';
  display: inline-block;
  margin-right: .2em;
  color: #f77b2e;
}
/* 슬로건 */
.slogan{
  background-color: orange;
}
.footer-bg{
  background-color: purple;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer{
  background-color: skyblue;
}

